.hidden{
    display: none !important;
}


@media screen and (min-width: 992px) {

  #nav,#hero,#about, #choose,#feature,#footer {
    max-width: none;
    width:   100%;
  }

 
  .container {
    max-width:1600px;
      margin-left:auto;
    margin-right: auto;
  }

  section {
    overflow: hidden;


}

}

/* About */
@media screen and (min-width: 992px){

    #about .container .text{
     max-width: 0 auto;

}

#about  .card-ctn{
    gap:150px;
}


}




/* Choose */
@media screen and (min-width: 992px){
    #choose .container .card-ctn .fivecard{
        padding:40px   
      
}
}



/* Header */

@media screen and (min-width: 992px) {

    #hero {
      
        background-size: cover;  

 background-position:center;
 /* height: 100vh; */

    }

    #hero .container {
        padding: 100px 80px;     
        /* border: 1px solid yellow; */
        margin: 0 auto;
        
    }

   
}
