*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: black; */
    
}

body{
    width:100%;

}

.font{
  font-family: "Inter", sans-serif;
}

.btn{
       /* border: 1px solid yellow; */
    padding: 12.5px 40px 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    background: var(--btn-bg);
    border-radius:1000px;
    border: none;
}
:root {
  --btn-bg: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  /* --bg: */
}

/* ============================================================================== */


#nav{
    
 background-color:#1A0B2E;
 max-width:1600px;
 border-bottom:1px solid #412567;

}

#nav .container{
/* border: 1px solid yellow; */
    display: flex;
    gap: 314px;
    padding: 30px 200px;
       justify-content: center;
     align-items: center;
   
    max-width: 1600px;

}

#nav .logo{
width:219px;
height: 32px;
}

#nav .text{
    display: flex;
    gap:32px;
    color: white;
    font-size: 16px;
    font-weight: medium;
}



 /* #nav .btn{
    border: 1px solid yellow;
    padding: 12.5px 40px 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    background: var(--btn-bg);
    border-radius:1000px;
    border: none;
}  */




/* =================== HERO ====================== */

#hero{
vertical-align: middle;
background-image: url(assets/hero-bg.png) ;
background-repeat: no-repeat;
    background-position: center;      
    /* width: 1600px;                        */
    width: 100%;                       
   height: 760px;

}


#hero .container{
   /* border: 1px solid yellow; */
   text-align: center;
   padding: 101px 525px;
}



#hero .container .logo{
   /* border: 1px solid yellow; */
   position: relative;
   
}

#hero .circle{
  /* border: 1px solid black; */
   width: 350px;
    height: 350px;}

#hero .microphone{
    /* border: 1px solid yellow; */
    position: absolute; 
    top: 50%;             
    left: 50%;           
   transform: translate(-50%, -50%);
    z-index: 1;
    width: 200px;
    height: 200px;
    object-fit: contain;

}




#hero .new{
    position: absolute;
     color:#1A0B2E;
     background-color: #00FF88;
     padding: 8px 16px; 
     border-radius: 1000px;
     border: none;

   top: 15%;             
    left: 80%;           
   transform: translate(-50%, -50%);
    z-index: 1;

    box-shadow: 0 3px 27px 0 #00ff8880;

    font-size: 18px;
    font-weight: semi-bold;
}



#hero .text{
       /* border: 1px solid yellow; */

    margin-top:40px;
    
}
#hero .text h3{
    color:white;
font-size: 60px;
    font-weight: Extra-bold;
}
#hero .text p{
    margin-left: -30px;
    color:white;
    width: 550px;
font-size: 16px;
    font-weight: regular;
    width: 550px;
}

#hero .button {
     /* border: 1px solid yellow; */
    margin-top: 24px;
   display: flex;
justify-content: center;
    gap:10px;

}
#hero .button .b1{

    padding:12.5px 20px 12.5px 48px;
}
#hero .button .b2{
    border: 1px solid #00FF88 ;
    color:#00FF88;
    background: transparent;
    padding:12.5px 20px 12.5px 48px;
}




/* ==================== About =============================*/

#about{
background-color:#1A0B2E;
max-width:1600px;
/* border: 1px solid yellow; */
padding-bottom: 120px;
}




#about .container{
    /* border: 1px solid yellow; */
  margin: 0 200px;
  text-align: center;
  color: white;
  

}


#about .container .text{
     /* border: 1px solid yellow; */
     padding: 50px;
     padding-bottom: 80px;
     border-bottom:1px solid #412567;

}

#about .container h3{
     /* border: 1px solid yellow; */
    font-size: 48px;
    font-weight: bold; 
    margin-bottom: 16px;

}

#about .container .p1{
     /* border: 1px solid yellow; */
    font-size: 16px;
    font-weight: regular; 
    margin-bottom: 16px;
    opacity: 80%;
    line-height: 30px;

}


#about  .card-ctn{
     /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:165px;
    padding-top: 80px;
    text-align: center;
    
}


#about .card h2{
color:#00FF88;
font-size: 48px;
font-weight: black;
margin-bottom: 16px;

}

#about .card-ctn .card p{
  font-size: 16px;
    font-weight: regular; 
    opacity: 80%;
    color: white;

}


/* ============================= Choose ================================== */

#choose{
    /* border: 1px solid yellow; */
    background-color:#230E3D;
    max-width: 1600px;
  
}


#choose .container{
     margin: 0 200px;
     padding-top: 120px;
          /* border: 1px solid yellow; */
          padding-bottom: 120px;

}

#choose .container h3{
   color:white;
font-size: 48px;
font-weight: bold;
          /* border: 1px solid yellow; */
text-align: center;
padding-bottom: 40px;
}



#choose .container .card-ctn{
    /* border: 1px solid yellow; */
    color: white;
    display: grid;
   grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: auto auto  auto;
    grid-template-areas:
        "card1 card21 card21"
        "card1 card22 card22"
        "card3 card3 card4";
    /* gap:16px; */

}
.card1 {
    grid-area: card1;

}

.card21 {
    grid-area: card21;
}

.card22 {
    grid-area: card22;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}


#choose .container .card-ctn .onecard{
        /* border: 1px solid yellow; */
        padding: 107px 40px;
       
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
        line-height: 24px;
        
}

#choose .container .card-ctn .twocard{
        /* border: 1px solid yellow; */
        padding:40px ; 
        padding-bottom: 40;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
         line-height: 24px;

}
#choose .container .card-ctn .threecard{
        /* border: 1px solid yellow; */
       padding:40px ; 
        padding-bottom: 40;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
         line-height: 24px;

}
#choose .container .card-ctn .fourcard{
        /* border: 1px solid yellow; */
        padding:40px ;
        margin-right: 30px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
      
}
#choose .container .card-ctn .fivecard{
        /* border: 1px solid yellow; */
        padding:40px ;
        padding-bottom: 49px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
      
}

#choose .container .card-ctn img, h5 {
    padding-bottom: 16px;

}
#choose .container .card-ctn h5 {
       font-size: 24px;
    font-weight: bold;
}
#choose .container .card-ctn p {
    font-size: 15px;
    font-weight: regular;
    opacity:50%;
}

