*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: black; */
    
}

.btn{
       /* border: 1px solid yellow; */
    padding: 12.5px 40px 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    background: var(--btn-bg);
    border-radius:1000px;
    border: none;
}
:root {
  --btn-bg: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}

#nav{
    
 background-color: #412567;

}

#nav .container{
/* border: 1px solid yellow; */
    display: flex;
    gap: 314px;
    padding: 30px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;

}

#nav .logo{
width:219px;
height: 32px;
}

#nav .text{
    display: flex;
    gap:32px;
    color: white;
    font-size: 16px;
    font-weight: medium;
}



/* #nav .btn{
    /* border: 1px solid yellow; */
    padding: 12.5px 40px 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    background: var(--btn-bg);
    border-radius:1000px;
    border: none;
} */