*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: black; */
    
}

body{
    width:100%;

}

.font{
  font-family: "Inter", sans-serif;
}


:root {
  --btn-bg: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);

}

/* ============================================================================== */


#nav{
    
 background-color:#1A0B2E;
 max-width:1600px;
 border-bottom:1px solid #412567;

}

#nav .container{
/* border: 1px solid yellow; */
    display: flex;
    gap: 314px;
    padding: 30px 200px;
       justify-content: center;
     align-items: center;
   
    max-width: 1600px;

}

#nav .logo{
width:219px;
height: 32px;
}

#nav .text{
    display: flex;
    gap:32px;
    color: white;
    font-size: 16px;
    font-weight: medium;
}



#nav .button .btn{
width: 135px;
height:44px;

 padding:12px 16px;
font-size: 16px;
font-weight:  semi-bold;

color: white;

/* border: 1px solid yellow; */

 background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
 border-radius: 1000px;
border: none;
display: flex;

flex-direction: row;
 justify-content: center;
 align-items: center;

gap: 4px;

}


#nav .btn img{
    padding-top: 5px;
}


/* =================== HERO ====================== */

#hero{
vertical-align: middle;
background-image: url(assets/hero-bg.png) ;
background-repeat: no-repeat;
    background-position: center;      
    /* width: 1600px;                        */
    width: 100%;                       
   height: 760px;

}


#hero .container{
   /* border: 1px solid yellow; */
   text-align: center;
   padding: 101px 525px;
}



#hero .container .logo{
   /* border: 1px solid yellow; */
   position: relative;
   
}

#hero .circle{
  /* border: 1px solid black; */
   width: 350px;
    height: 350px;}

#hero .microphone{
    /* border: 1px solid yellow; */
    position: absolute; 
    top: 50%;             
    left: 50%;           
   transform: translate(-50%, -50%);
    z-index: 1;
    width: 200px;
    height: 200px;
    object-fit: contain;

}




#hero .new{
    position: absolute;
     color:#1A0B2E;
     background-color: #00FF88;
     padding: 8px 16px; 
     border-radius: 1000px;
     border: none;

   top: 15%;             
    left: 80%;           
   transform: translate(-50%, -50%);
    z-index: 1;

    box-shadow: 0 3px 27px 0 #00ff8880;

    font-size: 18px;
    font-weight: semi-bold;
}



#hero .text{
       /* border: 1px solid yellow; */

    margin-top:40px;
    
}
#hero .text h3{
    color:white;
font-size: 60px;
    font-weight: Extra-bold;
}
#hero .text p{
    /* border: 1px solid yellow; */
    margin-left: -30px;
    color:white;
    width: 550px;
font-size: 16px;
    font-weight: regular;
    width: 550px;
}

#hero .button {
     /* border: 1px solid yellow; */
    margin-top: 24px;
   display: flex;
justify-content: center;
    gap:10px;

} 
#hero .button .b1{
     /* border: 1px solid yellow; */
  padding: 12.5px 20px 12.5px 17px;
    color: white;
    font-size: 16px;
       display:flex; 
       flex-direction: row;  
    font-weight: 600; 
   background:linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 1000px;
    border: none;
    justify-content: center;
    align-items: center;        
    gap: 8px;
cursor: pointer;

   width: 201px;
   height: 44px;
   font-size: 14px;
    font-weight: semi-bold;
}
#hero .button .b2{
    
width: 147px;
height: 44px;
font-size: 16px;
font-weight: semi-bold;
padding: 12px 20px 12px 20px;
display:flex;

/* background: 1px solid yellow; */
flex-direction: row;
 justify-content: center;
 background: transparent;
gap: 10px;
align-items: center;

color: #00FF88;
border: 1px solid #00FF88;
border-radius: 1000px;

}



/* ==================== About =============================*/

#about{
background-color:#1A0B2E;
max-width:1600px;
/* border: 1px solid yellow; */
padding-bottom: 120px;
}




#about .container{
    /* border: 1px solid yellow; */
  margin: 0 200px;
  text-align: center;
  color: white;
  

}


#about .container .text{
     /* border: 1px solid yellow; */
     padding: 50px;
     padding-bottom: 80px;
     border-bottom:1px solid #412567;

}

#about .container h3{
     /* border: 1px solid yellow; */
    font-size: 48px;
    font-weight: bold; 
    margin-bottom: 16px;

}

#about .container .p1{
     /* border: 1px solid yellow; */
    font-size: 16px;
    font-weight: regular; 
    margin-bottom: 16px;
    opacity: 80%;
    line-height: 30px;

}


#about  .card-ctn{
     /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:165px;
    padding-top: 80px;
    text-align: center;
    
}


#about .card h2{
color:#00FF88;
font-size: 48px;
font-weight: black;
margin-bottom: 16px;

}

#about .card-ctn .card p{
  font-size: 16px;
    font-weight: regular; 
    opacity: 80%;
    color: white;

}


/* ============================= Choose ================================== */

#choose{
    /* border: 1px solid yellow; */
    background-color:#230E3D;
    max-width: 1600px;
  
}


#choose .container{
     margin: 0 200px;
     padding-top: 120px;
          /* border: 1px solid yellow; */
          padding-bottom: 120px;

}

#choose .container h3{
   color:white;
font-size: 48px;
font-weight: bold;
          /* border: 1px solid yellow; */
text-align: center;
padding-bottom: 40px;
}



#choose .container .card-ctn{
    /* border: 1px solid yellow; */
    color: white;
    display: grid;
   grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: auto auto  auto;
    grid-template-areas:
        "card1 card21 card21"
        "card1 card22 card22"
        "card3 card3 card4";
    /* gap:16px; */

}
.card1 {
    grid-area: card1;

}

.card21 {
    grid-area: card21;
}

.card22 {
    grid-area: card22;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}


#choose .container .card-ctn .onecard{
        /* border: 1px solid yellow; */
        padding: 107px 40px;
       
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
        line-height: 24px;
        
}

#choose .container .card-ctn .twocard{
        /* border: 1px solid yellow; */
        padding:40px ; 
        padding-bottom: 40;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
         line-height: 24px;

}
#choose .container .card-ctn .threecard{
        /* border: 1px solid yellow; */
       padding:40px ; 
        padding-bottom: 40;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
         line-height: 24px;

}
#choose .container .card-ctn .fourcard{
        /* border: 1px solid yellow; */
        padding:40px ;
        margin-right: 30px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
      
}
#choose .container .card-ctn .fivecard{
        /* border: 1px solid yellow; */
        padding:40px ;
        padding-bottom: 49px;
        border-radius: 40px;
        background-color:rgba(53, 17, 101, 0.4);
      
}

#choose .container .card-ctn img, h5 {
    padding-bottom: 16px;

}
#choose .container .card-ctn h5 {
       font-size: 24px;
    font-weight: bold;
}
#choose .container .card-ctn p {
    font-size: 15px;
    font-weight: regular;
    opacity:50%;
}



/* =================================== Features================================== */

#feature{
    max-width: 1600px;
    background-color: #1A0B2E;
    /* border: 1px solid yellow; */
}

#feature .media{
  /* border: 1px solid yellow; */
  padding-top:120px;
  margin: 0 155px;
  text-align: center;
  color:white;

}

#feature .media h3{
    font-size: 48px;
    font-weight: bold;
     /* border: 1px solid yellow; */
     padding-bottom: 40px;
}


#feature .media .card-ctn{
  display: flex;
  gap:33px;
}

#feature .media .card-ctn .card .card-media{
    /* border: 1px solid yellow; */
    position: relative;
}

#feature .media .card-ctn .card{
    background-color: #250D44;
    width: 380px;
       border-radius: 24px;
    
   
}
#feature .media .card-ctn .card iframe{
    background-color: #250D44;
    width: 380px;
     border-top-left-radius: 24px;
    border-top-right-radius: 24px;
   
}


#feature .media .card-ctn .card .card-media img{
    /* border: 1px solid yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;      
    object-fit: contain; 
}

#feature .media .card-ctn .text{
/* border: 1px solid yellow; */
padding: 24px;
}


#feature .media .card-ctn h5{
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    padding-bottom: 12px;
}

#feature .media .card-ctn .text .m{
    font-size: 16px;
    font-weight: regular;
    text-align: start;
    opacity: 50%;
    line-height: 24px;
    text-align: start;
    /* border: 1px solid yellow; */
    
}

#feature .media .card-ctn .text .time{
    display: flex;
        /* border: 1px solid yellow; */
        padding-top: 13px;
        gap: 7px;   

}
#feature .media .card-ctn .text .time img{
    flex-shrink: 0;  
}



#feature .host{
     /* border: 1px solid yellow; */
  padding-top:120px;
  padding-bottom:120px;
  margin: 0 150px;
  text-align: center;
  color:white;
 
 
  /* padding-bottom: 120px; */
}


#feature h3{
     /* border: 1px solid yellow; */
font-size: 48px;
font-weight: bold;
padding-bottom: 40px;

}

#feature .host-info{
    display: flex;
     border-radius: 40px;
     background-color: rgba(53, 17, 101, 0.4);
     
     /* gap:24px; */
}



#feature .host-info .info {
    padding: 48px 40px 48px;
}

#feature .host-info .info h5{
    /* border: 1px solid yellow; */
    text-align: start;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}
#feature .host-info .info p{
    text-align: start;
    font-size: 16px;
    font-weight: ragular;
    line-height: 24px;
    opacity: 50%;
    padding-bottom: 16px;
}

#feature .host-info .info .icon{
     /* border: 1px solid yellow; */
     display: flex;
     gap:8px;
   
}

#feature .host-info .img {
padding: 40px;
padding-right: 0;
/* border: 1px solid yellow; */
}



/* =============================  Footer ======================= */

#footer{
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;      
    max-width: 1600px;  
    height: 412px;                     

}


#footer .container{
    /* border: 1px solid yellow; */
    margin:0 120px;
    text-align: center;
    color:white;
    width: 1336;
   
}


#footer .container .img{
    
    padding-top: 120px;
    padding-bottom: 32px;
        /* border: 1px solid yellow; */
       margin: 0 auto;

}
#footer .container .img img{
    width:410px;
    height: 60px;
}

#footer .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:42px;
    padding-bottom: 32px;
}


#footer .container .logo .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
}


#footer .container .logo .icon p { 
    font-size: 16px;
    font-weight: 500;
    opacity: 50%;
}
#footer .container .cr{
     font-size: 16px;
    font-weight: regular;
    opacity: 50%;
}